.App {

  text-align: center;
  height: 100vh;
  transition: all .5s ease-out;
  color: cornflowerblue;
}

.Header {
  font-size: 40px;
  letter-spacing: 1px;
  color: #fff;
  padding: 3rem 0 5rem;
}

.Quote-box {
  width: 600px;
  background-color: #fff;
  border-radius: 10px;
  margin: 0 auto;
  padding: 34px;
  color: inherit;
}

.Quote-content {
  font-size: 24px;
  color: inherit;
}

.Quote-author {
  margin-top: 8px;
  font-size: 12px;
  text-align: right;
}

.Quote-action {
  margin-top: 12px;
}

.Quote-new-btn {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 12px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.Color-box {
  margin-top: 32px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.Tag-box {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Tag {
  padding: 4px;
  background-color: #fff;
  margin: 4px;
  cursor: pointer;
  color: black;
}

.Tag.active {
  background-color: rgb(223, 152, 21);
  color: #fff;
}

.Color-item {
  cursor: pointer;
  width: 28px;
  height: 28px;
  background-color: #3498db;
  border-radius: 3px;
  margin: 6px;
}

.Color-item.active {
  outline: 2px solid #ccc;
  transform: scale(1.1);
}